#title {
    font-size: 80px;
    margin-left: 25%;
    float: "left";
}

#gameText {
    font-size: 20px;
    text-align: center;
    margin-left: 10 px;
    margin-right: 70 px;
    width: 70px;
}


#gameHidden {
    font-size: 50px;
    color: transparent;
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.body {
    margin: 20%;
    margin-top: 10%;
    margin-left: 0px;
    text-align: left;
    
}

.game {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    text-align: right;
}

h4 {
    display: inline-block;
}

/* formating for main table */

/* th, td {
    padding: 10px;
  } */



/* timer buttons */
#startTimer,
#stopTimer {
    background-color: #919191;
    color: white;
    font-size: 16px;
    width: 77px;

}



/* menu buttons- cant get buttons to merge together to connect*/
.levelButton {
    transition-duration: 0.4s;
    background-color: rgb(242, 242, 242);

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    /* float: left; */
}

/* .levelButton:hover {
    background-color: #919191;
    color: white;
} */

.active, .levelButton:hover {
  background-color: #666;
  color: white;
}

#headerTable {
    float: right;
}