@font-face {
    font-family: JetBrains Mono;
    src: url(fonts/JetBrainsMono-VariableFont_wght.ttf);
}

body {
    background-color: #443742;
    font-family: JetBrains Mono;
}

/* The top area of the page */
.top {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 1fr;
    grid-template-areas: "title title-op text-sel";
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 35px;
    justify-content: space-between;
}

#title {
    grid-area: title;
    font-size: 60px;
    color: #EDD9A3;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title-op {
    grid-area: title-op;

}

#text-sel {
    grid-area: text-sel;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 2fr 1fr 1fr;
    font-size: 14px;
    text-align: right;
    color: #B2A3B5;
    column-gap: 5px;
    row-gap: 0px;

    align-items: end;
    justify-items: end;
}

/*
.text-sel div {
    border: 1px solid yellow;
} 


/* Difficulty */

#easy {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 22px;
    cursor: pointer;
}

#medium {
    grid-area: 1 / 3 / 2 / 4;
    font-size: 22px;
    cursor: pointer;
}

#hard {
    grid-area: 1 / 4 / 2 / 5;
    font-size: 22px;
    cursor: pointer;
}

/* genre*/

#sci-fi {
    grid-area: 2 / 1 / 3 / 2;
    cursor: pointer;

}

#slice_of_life {
    grid-area: 2 / 2 / 3 / 3;
    cursor: pointer;

}

#non-fiction {
    grid-area: 2 / 3 / 3 / 4;
    cursor: pointer;

}

#article {
    grid-area: 2 / 4 / 3 / 5;
    cursor: pointer;

}

#romance {
    grid-area: 3 / 1 / 4 / 2;
    cursor: pointer;

}

#comedy {
    grid-area: 3 / 2 / 4 / 3;
    cursor: pointer;

}

#wikipedia {
    grid-area: 3 / 3 / 4 / 4;
    cursor: pointer;

}

#mystery {
    grid-area: 3 / 4 / 4 / 5;
    cursor: pointer;

}



/* The middle area of the page */

.mid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 175px max-content 200px;
    grid-template-areas:
        "lh timer h rh"
        "combo m m score"
        "lf input input rf";
}



#gameText {
    display: none;
    grid-area: m;
    font-size: 19px;
    text-align: justify;
    text-align-last: center;
    color: #B2A3B5;
    margin: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gameHidden {
    display: block;
    grid-area: m;
    font-size: 19px;
    color: transparent;
    text-shadow: 0 0 13px rgba(178, 163, 181, 0.8);
    text-align: justify;
    text-align-last: center;
    margin: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#timer {
    grid-area: timer;
    align-self: end;
    color: #EDD9A3;
}

#stopTimer {
    grid-area: 1 / 2 / 2 / 3;
    color: #EDD9A3;
    cursor: pointer;
}

#gameControls {
    gap: 0.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    grid-area: input;
}

#inputTextBox {
    padding: 0.5rem 1rem;
    width: 60%;
    background: #60525F;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #B2A3B5;
    outline-style: none;
    text-align: center;
}

#score {
    display: none;
    grid-area: score;
    color: #EDD9A3;
    font-size: 30px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

#combo {
    color: #EDD9A3;
    font-size: 30px;
    text-align: center;
    justify-self: end;
}

#hint {
    grid-area: h;
    align-self: end;
    justify-self: end;
    color: #EDD9A3;
    visibility: hidden;

}


/* Bottom of the page */

.bot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

}

.footSel {
    grid-area: 1 / 1 / 2 / 2;


}

#pageInfo {
    grid-area: 1 / 3 / 2 / 4;
    color: #B2A3B5;
    text-align: right;
    font-size: 15px;
    padding-top: 10px;
}

.fade-out {
    animation: fadeOut ease 10s;
    -webkit-animation: fadeOut ease 10s;
    -moz-animation: fadeOut ease 10s;
    -o-animation: fadeOut ease 10s;
    -ms-animation: fadeOut ease 10s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#comboContainer {
    grid-area: combo;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2vh;
    width: 100%;
}

#comboBar {
    width: 0%;
    height: 2%;
    background: #EDD9A3;
    align-self: flex-start;
    margin-left: 20%;
    margin-right: 20%;
}


/* modal */


.modal {
    display: none;
    position: fixed;
    padding-top: 300px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}



/* Modal Content */
.endModalContent {
    color: #B2A3B5;
    background-color: #60525F;
    margin: auto;
    padding: 10px;
    border: 10px solid #60525F;
    width: 30%;
    height: 40%;
    overflow: auto;
}


.close {
    color: #aaaaaa;
    position: relative;
    left: 0;
    top: 0;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalText {
    text-align: center;
    font-size: 17px;
}

.error {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: inset 0px 4px 4px red;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    25% {
        margin-left: 0.5rem;
    }

    75% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }

}

#modalScore {
    padding-top: 5px;
}